* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Manrope", sans-serif;
  }
  
  .menu_conn {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .menu_conn .menu {
    width: 85%;
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 45px;
    position: absolute;
    z-index: 100;
    animation: menu_drop 1s ease-in-out;
    position: fixed;
    z-index: 9999;
  }
  
  @keyframes menu_drop {
    0% {
      margin-top: -100px;
    }
    50% {
      margin-top: -50px;
    }
    100% {
      margin-top: 0;
    }
  }
  
  .background_cover {
    width: 100%;
    height: 70vh;
    position: relative;
  }
  
  .background_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .menu .menu_icon {
    width: 100%;
    margin-left: 25px;
  }
  
  .menu .menu_icon img {
    width: 50%;
    height: 100%;
    object-fit: contain;
  }
  
  .menu .menu_items {
    width: 57%;
    display: flex;
    color: #1a1a1a;
    justify-content: space-evenly;
  }
  
  .menu .menu_items .a_tag {
    text-decoration: none;
    padding: 12px;
    color: black;
    font-weight: 500;
    display: inline;
  }
  
  .menu .menu_items a {
    text-decoration: none;
    padding: 12px;
    color: black;
    font-weight: 500;
    display: inline;
  }
  .menu .menu_items .a_tag:hover {
    outline: 1px solid #ff7300;
    border-radius: 25px;
    text-decoration: underline;
  }
  
  .menu .menu_search {
    width: 18%;
  }
  
  .menu .menu_globe {
    width: 5%;
    cursor: pointer;
  }
  
  .menu .menu_search {
    display: flex;
    justify-content: center;
  }
  
  .menu .menu_search input {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    border: 1px solid #ff7300;
  }
  
  .menu .menu_search .search_icon {
    padding: 4px;
    background-color: #ff7300;
    border-radius: 0 15px 15px 0;
    color: white;
    padding-left: 8px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .menu .menu_globe i {
    font-size: 25px;
    margin-left: 15px;
    color: #ff7300;
  }
  
  #menu_dropdown {
    width: 200px;
  }
  
  #menu_dropdown:hover .suldee {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .suldee {
    display: none;
    width: 200px;
  }
  
  .suldee_item {
    padding: 10px;
    color: #333;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .suldee_item:hover {
    background-color: #ff7300;
    color: #fff;
  }
  
  .anar {
    width: 65px;
    height: 125px;
    position: fixed;
    right: 10px;
    bottom: 100px;
  }
  
  .anar .anar_item {
    width: 60px;
    height: 60px;
    background-color: #ff7300;
    border: 1px solid #fff;
    margin-bottom: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .anar .anar_item i {
    font-size: 20px;
  }
  
  .bagsh:hover .galaa {
    display: block;
  }
  
  .galaa {
    width: 100px;
    height: 25px;
    background-color: white;
    position: absolute;
    right: 75px;
    margin-top: 20px;
    display: none;
  }
  
  .ug {
    color: black;
    font-size: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .suldee_top {
    border-top: 1px solid gray;
  }
  
  .container {
    margin-top: 200px;
    width: 100%;
    flex-wrap: wrap;
  }
  .con_item {
    width: 100%;
    display: flex;
  }
  .con_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    width: 85%;
    margin-top: 150px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: column;
  }
  .con_item {
    display: flex;
    justify-content: space-between;
  }
  .con_header {
    margin-bottom: 50px;
  }
  .con_items {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    margin-top: 15%;
    margin-left: 2%;
  }
  .con_header h1 {
    font-size: 45px;
  }
  .con_item h2 {
    font-size: 40px;
    color: #fff;
  }
  .con_button {
    background-color: white;
    width: 200px;
    padding: 12px;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .con_button:hover {
    background-color: #ff7300;
    color: #fff;
  }
  .con_button:hover p {
    text-decoration: underline;
  }
  .con_items a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  .con_item a i {
    margin-left: 5px;
  }
  .conn_image_2 {
    position: relative;
  }
  .conn_image_1 img {
    border-radius: 25px;
  }
  
  .con_button_2 {
    background-color: white;
    width: 200px;
    padding: 12px;
    border-radius: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .con_items_2 a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  .conn_image_2 {
    position: relative;
  }
  .conn_image_2 img {
    border-radius: 25px;
  }
  
  .con_items_2 {
    position: absolute;
    z-index: 100;
    margin-top: 15%;
    margin-left: 2%;
  }
  
  .con_items_2 .con_button_2:hover {
    background-color: #1c5858;
    color: #fff;
  }
  
  .con_button_2:hover p {
    text-decoration: underline;
  }
  
  .container_2 {
    margin-top: 70px;
    width: 85%;
    margin-left: 7.5%;
  }
  
  .container_2 .con_2_item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .container_2 .con_2_img {
    position: relative;
    width: 100%;
  }
  
  .container_2 .con_2_img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .con_2_img_item {
    width: 145px;
    height: 40px;
    background-color: white;
    color: black;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .con_2_img_item p {
    opacity: 0.7;
    font-weight: 500;
  }
  
  .con_2_item_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 20px;
  }
  
  .con_2_item_header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .con_2_item_header:hover {
    text-decoration: underline;
    color: #ff7300;
  }
  
  .con_2_item_date {
    opacity: 0.6;
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  .con_2_item_button {
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
  
  .con_2_item_button:hover {
    color: #ff7300;
  }
  
  .con_2_item_button:hover p {
    text-decoration: underline;
  }
  
  .con_2_item_button i {
    margin-left: 7px;
  }
  .con_2_item_a {
    text-decoration: none;
  }
  .container_3 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  .container_3 .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .container_3 .card_items {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #ff6b64 0%, #ff7300 100%);
    width: 400px;
    height: 350px;
    justify-content: space-between;
    border-radius: 30px;
    padding: 50px 50px 50px 50px;
    color: white;
  }
  .card_items .medee {
    width: 55%;
    height: 10%;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
  }
  .card_items .medee:hover {
    text-decoration: underline;
  }
  .card_items a {
    text-decoration: none;
    color: white;
  }
  .card_items .update {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .card_items .update:hover {
    text-decoration: underline;
  }
  .con_3_date {
    opacity: 0.5;
  }
  .con_3_date:hover {
    text-decoration: underline;
  }
  .con_3_a {
    color: white;
  }
  .con_3_a i {
    margin-left: 7px;
  }
  .con_3_a:hover {
    text-decoration: underline;
  }
  
  .itgel {
    width: 100%;
    height: auto;
  }
  .itgel_item {
    width: 60%;
    height: 300px;
    background-color: #1a3b70;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 22%;
    border-radius: 25px;
    line-height: 60px;
    position: absolute;
  }
  .itgel_item a {
    border-radius: 10px;
    text-decoration: none;
    font-weight: 300;
    color: #1a3b70;
  }
  .itgel_item p {
    width: 100%;
    height: 40px;
    padding: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 12px;
  }
  .itgel_item p:hover {
    text-decoration: underline;
  }
  .itgel .itgel_img {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .itgel .itgel_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: -250px;
  }
  
  .itgel_item h1,
  h5 {
    color: #fff;
  }
  .itgel_item h1 {
    font-size: 50px;
    line-height: 40px;
  }
  .itgel_item h5 {
    font-size: 15px;
    opacity: 0.6;
    word-spacing: 2px;
  }
  .last{
    margin-top: 35%;
    width: 85%;
    height: 370px;
    border-radius: 25px;
    margin-left: 1%;
    position: absolute;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-left: 143px;
    background-color: #FF7300;

  }
#end .BR_img img {
  margin-top: 35%;
  width: 85%;
  height: 370px;
  border-radius: 25px;
  margin-left: 1%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 143px;
}

.mp img {
  width: 20%;
  position: relative;
  bottom: -360px;
  left: 85px;
  margin-left: 125px;
  margin-top: 98px;
}

.end_text h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  color: white;
}

.end_text p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 165px;
  font-size: 25px;
  color: white;
}

.plus {
  position: relative;
  width: 11.5%;
  height: 45px;
  background-color: black;
  border: 5px white;
  border-radius: 10px;
  font-size: 10px;
  margin-left: 35.7%;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid white;
  position: absolute;
}

.icon_text {
  color: white;

}

.icon_text i {
  font-size: 30px;
  position: absolute;

}

.icon_text p {
  display: flex;
  justify-content: center;

}

.icon_text_1 {
  position: absolute;
  margin-left: 30px;

}

.icon_text_2 {
  font-size: 20px;
  position: relative;
  line-height: 45px;
  margin-left: 20px;
}

.plus_1 {
  position: relative;
  width: 13%;
  height: 45px;
  background-color: black;
  border: 5px white;
  border-radius: 10px;
  font-size: 10px;
  margin-left: 50%;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid white;
  position: absolute;
}

.icon_text_q {
  color: white;

}

.icon_text_q i {
  font-size: 30px;
  position: absolute;

}

.icon_text_q p {
  display: flex;
  justify-content: center;

}

.icon_text_3 {
  position: absolute;
  margin-left: 30px;

}

.icon_text_4 {
  font-size: 20px;
  position: relative;
  line-height: 45px;
  margin-left: 20px;
}

.plus_2 {
  position: relative;
  width: 13%;
  height: 45px;
  background-color: black;
  border: 5px white;
  border-radius: 10px;
  font-size: 10px;
  margin-top: 35px;
  margin-left: 66%;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid white;
}

.icon_text_w {
  color: white;

}

.icon_text_w i {
  font-size: 30px;
  position: absolute;

}

.icon_text_w p {
  display: flex;
  justify-content: center;

}

.icon_text_5 {
  position: absolute;
  margin-left: 30px;

}

.icon_text_6 {
  font-size: 20px;
  position: relative;
  line-height: 45px;
  margin-left: 20px;
}

#shiljilt .plus {
  transition: 0.5s;
}

#shiljilt .plus_1 {
  transition: 0.5s;
}

#shiljilt .plus_2 {
  transition: 0.5s;
}

#shiljilt .plus:hover {
  transform: translateY(-10px);
}

#shiljilt .plus_1:hover {
  transform: translateY(-10px);
}

#shiljilt .plus_2:hover {
  transform: translateY(-10px);
}


.contact {
  width: 100%;
  height: 700px;
  background-color: black;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

#the_end {
  margin-left: 150px;
  margin-top: 50px;
  line-height: 50px;
  word-spacing: 5px;
  display: flex;
  justify-content: space-evenly;
}

.nene {
  display: flex;
  justify-content: center;

}

#the_end .a22 {
  color: white;
  font: bold;
  font-size: 25px;
}

#the_end .a23 i {
  color: #ff7300;
}

#the_end .a23 {
  color: white;
  font-size: small;
}

#the_endt .a24 i {
  color: #ff7300;
}

#the_end .a24 {
  color: white;
  font-size: small;
}

#the_end .a25 i {
  color: red;
}

#the_end .a25 {
  color: white;
  font-size: small;
}

#the_end .a26 i {
  color: red;
}

#the_end .a26 {
  color: white;
  font-size: small;
}

#the_end .a27 i {
  color: #ff7300;
}


#the_end .a27 {
  color: white;
  font-size: small;
}


#the_end .a28 i {
  color: #ff7300;
}


#the_end .a28 {
  color: white;
  font-size: small;
}

.a_icons i {
  font-size: 25px;
  border: 4px solid;
  border-radius: 90px;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.a_icons i:hover {
  background-color: aqua;
}

.contact_1 .b22 {
  color: white;
  font: bold;
  font-size: 25px;
}

.contact_1 .b23 {
  color: white;
  font-size: small;
}


.contact_1 .b24 {
  color: white;
  font-size: small;
}

.contact_1 .b25 {
  color: white;
  font-size: small;
}


.contact_2 .c22 {
  color: white;
  font: bold;
  font-size: 25px;
}

.contact_2 .c23 {
  color: white;
  font-size: small;
}

.contact_2 .c24 {
  color: white;
  font-size: small;
}


.contact_3 .d22 {
  color: white;
  font: bold;
  font-size: 25px;
}

.contact_3 .d23 {
  color: white;
  font-size: small;
}

.contact_3 .d24 {
  color: white;
  font-size: small;
}

.contact_3 .d25 {
  color: white;
  font-size: small;
}

.contact_3 .d26 {
  color: white;
  font-size: small;
}


.contact_4 .e22 {
  color: white;
  font: bold;
  font-size: 25px;
}

.contact_4 .e23 {
  color: white;
  font-size: small;
}

.contact_4 .e24 {
  color: white;
  font-size: small;
}

.contact_4 .e25 {
  color: white;
  font-size: small;
}

.contact_4 .e26 {
  color: white;
  font-size: small;
}

#the_end .nana .hover {
  text-decoration: none;
  color: slateblue;
}

#the_end .nana .hover:hover {
  padding: 10px;
  text-decoration: underline;
}

.nene {
  gap: 100px;
}

.nene .contact_1 .hover_1 .b23 {
  text-decoration: none;
  color: white;
}

.nene .contact_1 .hover_1 .b23:hover {
  text-decoration: underline;
}

.nene .contact_1 .hover_1 .b24 {
  text-decoration: none;
  color: white;
}

.nene .contact_1 .hover_1 .b24:hover {
  text-decoration: underline;
}

.nene .contact_1 .hover_1 .b25 {
  text-decoration: none;
  color: white;
}

.nene .contact_1 .hover_1 .b25:hover {
  text-decoration: underline;
}

.nene .contact_2 .hover_2 .c23 {
  text-decoration: none;
  color: white;
}

.nene .contact_2 .hover_2 .c23:hover {
  text-decoration: underline;
}

.nene .contact_2 .hover_2 .c24 {
  text-decoration: none;
  color: white;
}

.nene .contact_2 .hover_2 .c24:hover {
  text-decoration: underline;
}

.nene .contact_3 .hover_3 .d23 {
  text-decoration: none;
  color: white;
}

.nene .contact_3 .hover_3 .d23:hover {
  text-decoration: underline;
}

.nene .contact_3 .hover_3 .d24 {
  text-decoration: none;
  color: white;
}

.nene .contact_3 .hover_3 .d24:hover {
  text-decoration: underline;
}

.nene .contact_3 .hover_3 .d25 {
  text-decoration: none;
  color: white;
}

.nene .contact_3 .hover_3 .d25:hover {
  text-decoration: underline;
}

.nene .contact_3 .hover_3 .d26 {
  text-decoration: none;
  color: white;
}

.nene .contact_3 .hover_3 .d26:hover {
  text-decoration: underline;
}
.nene .contact_4 .hover_4 .e23 {
  text-decoration: none;
  color: white;
}

.nene .contact_4 .hover_4 .e23:hover {
  text-decoration: underline;
}
.nene .contact_4 .hover_4 .e24 {
  text-decoration: none;
  color: white;
}

.nene .contact_4 .hover_4 .e24:hover {
  text-decoration: underline;
}
.nene .contact_4 .hover_4 .e25 {
  text-decoration: none;
  color: white;
}

.nene .contact_4 .hover_4 .e25:hover {
  text-decoration: underline;
}
.nene .contact_4 .hover_4 .e26 {
  text-decoration: none;
  color: white;
}

.nene .contact_4 .hover_4 .e26:hover {
  text-decoration: underline;
}
.new_2024 {
 background-color: black;
}
.new_2024 .eee{
  color: white;
  margin-left: 150px;
}
@media only screen and (max-width: 1400px) {
    .menu_conn .menu{
      display: none;
    }
}